<!-- Main sidebar -->

  <div class="sidebar-content">

    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">

        <ul class="navigation navigation-main navigation-accordion">
            <li><a routerLink="/persons"><i class="icon-people"></i> <span>Clientes</span></a></li>
            <li>
              <a class="has-ul"><i class="icon-select2"></i> <span>Contas</span></a>
              <ul class="hidden-ul" style="display: block;">
                  <li><a routerLink="/accounts/created"><i class="fa fa-bank"></i> <span>Cadastrar</span></a></li>
                  <li><a routerLink="/accounts"><i class="fa fa-bank"></i> <span>Visualizar</span></a></li>
              </ul>
            </li>
            <li><a routerLink="/transactions"><i class="icon-people"></i> <span>Transacoes</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /main navigation -->
  </div>
