<app-header></app-header>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <div class="sidebar sidebar-main">
        <app-left-menu></app-left-menu>
      </div>

      <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Pagina Inicial</span> - Transacoes realizadas</h4>
            </div>
          </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed" [isClickable]="false">
                <div class="ui text loader">Aguarde...</div>
            </sui-dimmer>

            <div class="panel panel-flat" >
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Tipo</th>
                      <th>Conta Origem</th>
                      <th>Conta Destino</th>
                      <th>Data</th>
                      <th width="20">Valor</th>
                      <th>Estorno</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let acc of listTransactions">
                      <td>{{ acc.transaction_code }}</td>
                      <td>{{ acc.transaction_type.name }}</td>
                      <td>{{ acc.account_source?.name }} <br>
                        <span>
                          {{ (acc.account_source?.person.fantasy_name != null ) ? acc.account_source?.person.fantasy_name : acc.account_source?.person.full_name  }}
                        </span>
                      </td>
                      <td>{{ acc.account_destination?.name }} <br>
                        <span>
                          {{ (acc.account_destination?.person.fantasy_name != null ) ? acc.account_destination?.person.fantasy_name : acc.account_destination?.person.full_name  }}
                        </span>
                      </td>
                      <td>{{ acc.created | date }}</td>
                      <td>{{ acc.money | currency:'BRL':true:'1.2-2'  }}</td>
                      <td *ngIf="acc.transaction_type.id != 4 && acc.reversed == false" >
                          <button (click)="reversal(acc)" type="button" class="btn btn-info">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                          </button>
                      </td>
                      <td *ngIf="acc.transaction_type.id == 4 || acc.reversed == true" >
                          -
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
            </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
